<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </h2>
    <% if current_user %>
      <% if current_user.id == restaurant.user_id %>
        <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
        <p><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
      <% end %>
    <% end %>
    <p><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)%></p>
    <h3>Reviews for <%= restaurant.name %></h3>
    <% if restaurant.reviews.any? %>
      <ul>
        <% restaurant.reviews.each do |review| %>
          <li>
            <%= review.thoughts %> <%= star_rating(review.rating) %>
              <%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link' %>
              <span class="endorsements_count"> <%= review.endorsements.count %></span> endorsements
          </li>
        <% end %>
      </ul>
    <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>  
    <% else %>
      <p>No reviews</p>
    <% end %>
  <% end %>
<% else %>
  No restaurants
<% end %>

<a href = "<%= new_restaurant_path %>" >Add a restaurant</a>

