
<section>
  <h2><%= @restaurant.name %></p>
  <h3><%= @restaurant.description %></p>
  <%= image_tag @restaurant.image.url(:medium) %>
  <% if current_user && current_user.id == @restaurant.user_id %>
    <p><%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %></p>
    <p><%= link_to "Delete #{@restaurant.name}", restaurant_path(@restaurant), method: :delete %>
  <% end %>
  <p><%= link_to "Review #{@restaurant.name}", new_restaurant_review_path(@restaurant)%></p>
  <h3>Reviews for <%= @restaurant.name %></h3>
  <% if @restaurant.reviews.any? %>
    <% @restaurant.reviews.each do |review| %>
      <ul>
        <li>Review created: <%= time_since_created(review.created_at) %></li>
        <% if review.user_id %>
          <li>By: <%= @user.find(review.user_id).email %></li>
        <% end %>
        <li>Comments: <%= review.thoughts %></li>
        <li>Rating: <%= star_rating(review.rating) %></li>
        <li><span class="endorsements_count"> <%= review.endorsements.count %></span> endorsements <%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link' %></li>
        <% if current_user && current_user.id == review.user_id %>
          <li><%= link_to "Delete this review", review_path(review), method: :delete %></li>
        <% end %>
      </ul>
    <% end %>
    <h3>Average rating: <%= star_rating(@restaurant.average_rating) %></h3>  
  <% else %>
    <h3>No reviews</p>
  <% end %>
</section>